* text=auto eol=lf

*.txt text eol=lf
*.sh text eol=lf
*.c text eol=lf
*.h text eol=lf
*.nix text eol=lf

*.so binary
*.dll binary

secrets.nix filter=git-crypt diff=git-crypt
hosts/.tsrk-files/ssh_host_*_key filter=git-crypt diff=git-crypt
